inst/doc
/.Rproj.user
/data_inp
/Rcpp_src
repair-data.R
vignettes/images/clipboard-1721551514.png
/.Rc
create.R
create_data.R
develop.R
/vignettes/.Rc/sourceCpp-x86_64-w64-mingw32-1.0.13.1
vignettes/images/clipboard-1404360376.png
*.tex
LAMC-L9.gif
LAMC-L9-5680frames.gif
