inst/doc
/.Rproj.user
/data_inp
/Rcpp_src
repair-data.R
vignettes/images/clipboard-1721551514.png
/.Rc
create.R
create_data.R
develop.R
/vignettes/.Rc/sourceCpp-x86_64-w64-mingw32-1.0.13.1
vignettes/images/clipboard-1404360376.png
*.tex
LAMC-L9.gif
LAMC-L9-5680frames.gif
R/L12-demo-stomatocyte.R
M_stoma_L12_rot_MMC 9 .rda
/Research
/R/.Rc
R/.Rhistory
/tests/.Rc
sinica.2008.pdf
M_stoma_L12_rot_MMC 0 .rda
M_stoma_L12_rot_MMC 1 .rda
M_stoma_L12_rot_MMC 10 .rda
M_stoma_L12_rot_MMC 2 .rda
M_stoma_L12_rot_MMC 3 .rda
M_stoma_L12_rot_MMC 4 .rda
M_stoma_L12_rot_MMC 5 .rda
M_stoma_L12_rot_MMC 6 .rda
M_stoma_L12_rot_MMC 7 .rda
M_stoma_L12_rot_MMC 8 .rda
MMC-Echino-L9-5690frames.gif
A_L16_C0_20.rdat
/old_albedo
/tests/testthat/.Rc
Wigner-matrices.txt
tmp_cluster.txt
MeshParam.R
A_L10_C0_-5.rdat
A_L12_C0_0.rdat
A_L15_C0_11.rdat
A_L16_C0_11.rdat
A_L16_C0_28.rdat
A_L17_C0_2.562.rdat
A_L21_C0_11.rdat
A_L5_C0_20.rdat
A_L8_C0_11.rdat
A_L9_C0_12.rdat
Invag-L10.rdat
ISpsd-L16.qs2.qs2
ivs_mmc.qs2
ivs_mmc_psd.qs2
ivs_mmc_psd_mmc.qs2
ivs_mmc_psd_mmc_psd.qs2
M1_ALM.rdat
M1_CNM.qs2
M1_psd_pnem.qs2
M1_SF4_denovo_elongated_mmc.qs2.qs2
M_SF4_denovo_elongated_mmc.qs2.qs2
MTAD08-Spectral_conformal.R
Newton-Raphson-NL.txt
S20_mmc_psd.qs2
SF4lr-crumbled.obj
Sf_c020_exp.rdat
ss42-C020-mmc-pnem.rdat
ss42-C020-mmc.rdat.qs2
U17R_psd.qs2
Unduloid.rdat
data/D6_cnm_C00.rda
STOP_PNEM.txt
*.qs2
*.rda
*.rdat
