inst/doc
/.Rproj.user
/data_inp
/Rcpp_src
repair-data.R
vignettes/images/clipboard-1721551514.png
/.Rc
create.R
create_data.R
develop.R
/vignettes/.Rc/sourceCpp-x86_64-w64-mingw32-1.0.13.1
vignettes/images/clipboard-1404360376.png
*.tex
LAMC-L9.gif
LAMC-L9-5680frames.gif
R/L12-demo-stomatocyte.R
M_stoma_L12_rot_MMC 9 .rda
/Research
/R/.Rc
R/.Rhistory
/tests/.Rc
sinica.2008.pdf
M_stoma_L12_rot_MMC 0 .rda
M_stoma_L12_rot_MMC 1 .rda
M_stoma_L12_rot_MMC 10 .rda
M_stoma_L12_rot_MMC 2 .rda
M_stoma_L12_rot_MMC 3 .rda
M_stoma_L12_rot_MMC 4 .rda
M_stoma_L12_rot_MMC 5 .rda
M_stoma_L12_rot_MMC 6 .rda
M_stoma_L12_rot_MMC 7 .rda
M_stoma_L12_rot_MMC 8 .rda
MMC-Echino-L9-5690frames.gif
A_L16_C0_20.rdat
